<h2 mat-dialog-title>Upload file</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="uploadFileForm">
    <div>
      <app-file-upload
        formControlName="file"
        [acceptExtensions]="extensions"
      ></app-file-upload>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-flat-button
    color="primary"
    (click)="onUploadFile()"
    [disabled]="!uploadFileForm.valid"
  >
    Upload
  </button>
</mat-dialog-actions>
