<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-header">
        <h1>NIS Feed</h1>
        <div class="page-actions">
          <button mat-flat-button color="primary" (click)="onAddFeedItem()">
            Add feed item
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <h3>Filters</h3>
          <form [formGroup]="filterFeedsForm">
            <div class="filter-content">
              <div class="filter-input">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Feed keywords</mat-label>
                  <mat-chip-grid
                    #feedKeywordGrid
                    aria-label="Enter keywords"
                    formControlName="keywords"
                  >
                    <ng-container *ngFor="let keyword of keywords.value">
                      <mat-chip-row
                        *ngIf="keyword"
                        (removed)="removeKeyword(keyword)"
                      >
                        {{ keyword }}
                        <button matChipRemove aria-label="'remove ' + keyword">
                          <mat-icon>cancel</mat-icon>
                        </button>
                      </mat-chip-row>
                    </ng-container>
                  </mat-chip-grid>
                  <input
                    placeholder="Write keyword and press enter"
                    [matChipInputFor]="feedKeywordGrid"
                    (matChipInputTokenEnd)="addKeyword($event)"
                  />
                </mat-form-field>
              </div>
              <div class="filter-input">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Press alert</mat-label>
                  <mat-select [formControl]="alert">
                    <mat-option value="onscreen">Alert on screen</mat-option>
                    <mat-option value="email">Email</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="filter-actions">
              <button
                mat-flat-button
                color="primary"
                (click)="onApplyFilters()"
                [disabled]="!filterFeedsForm.valid"
              >
                Apply filters
              </button>
              <button mat-flat-button color="accent" (click)="onResetFilters()">
                Reset filters
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="feeds$ | async as feeds">
        <ng-container *ngIf="feeds.length === 0">
          No feeds available.
        </ng-container>

        <app-feed-item
          [feed]="feed"
          (deleteFeed)="onDeleteFeed(feed)"
          *ngFor="let feed of feeds"
        >
        </app-feed-item>
      </ng-container>
    </div>
  </div>
</div>
