<h2 mat-dialog-title>{{ newsroom.title }} files</h2>
<mat-dialog-content class="mat-typography">
  <ng-container *ngIf="archives$ | async as files">
    <div *ngIf="files.length === 0">No files attached to this news.</div>
    <mat-card *ngFor="let file of files" class="file-card">
      <div>
        <div>
          <strong>{{ file.name }}</strong>
        </div>
        <div>
          Uploaded on {{ file.uploadedDate.toDate() | date : "medium" }}
        </div>
      </div>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="newsFileOptions">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #newsFileOptions="matMenu">
          <a mat-menu-item [href]="file.downloadUrl" target="_blank">
            <mat-icon aria-hidden="false" fontIcon="visibility"></mat-icon>
            View
          </a>
          <button mat-menu-item (click)="onDelete(file)">
            <mat-icon aria-hidden="false" fontIcon="delete"></mat-icon>
            Delete
          </button>
        </mat-menu>
      </div>
    </mat-card>
  </ng-container>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
